* {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
  background-color: #f1f1f1;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.b {
  font-weight: 700;
}

.mb16 {
  margin-bottom: 1rem;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 2rem 0;
  object-fit: cover
}

.container {
  min-height: 80vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica Neue, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #333333;
  text-align: center;
  margin: 0 auto;
}

.content {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.title {
  margin-bottom: .5rem
}

.description {
  text-align: center;
  line-height: 1.5;
  font-size: 1.3rem;
}

.author {
  font-size: .9rem;
  font-weight: 400;
}

.about-me,
.jobs,
.tech-competences {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

.about-me header,
.jobs header,
.tech-competences header {
  margin-bottom: 1.5rem;
}

.about-me p,
.jobs p,
.tech-competences p,
.tech-competences ul li {
  letter-spacing: -0.003em;
  font-size: 20px;
  line-height: 32px;
  word-break: break-word;
  text-align: justify;
}

.tech-competences {
  justify-content: start;
}

.work-company,
.tech-item {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed #333333;
}

.work-company h3 {
  padding-bottom: .5rem;
}

.tech-list {
  display: flex;
}

.tech-list li {
  list-style: none;
}

@media (max-width: 1023px) {
  .content {
    width: 90%;
  }

  .about-me p,
  .jobs p,
  .tech-competences p,
  .tech-competences ul li {
    font-size: 18px;
    line-height: 28px;
  }
}